Flask==0.8
Jinja2==2.6
http://pyyaml.org/download/pyyaml/PyYAML-3.10.tar.gz
Werkzeug==0.8.2
numpy==1.6.1
pymongo==2.1.1
wsgiref==0.1.2
gdata==2.0.16
BeautifulSoup==3.2.0
IMDbPY==4.8.2
PyXML==0.8.4
bingapi==0.02
freebase==1.0.6
lxml==2.3
nltk==2.0b9
scipy==0.8.0
simplejson==2.1.2
virtualenv==1.7
wikitools==1.1.1
