<html>
<head>
<script type="text/javascript" src="jquery-1.4.2.js"></script>
<script>
  // Called when the user clicks on the browser action.
  chrome.browserAction.onClicked.addListener(function(tab) {
	alert(tab.url);
	chrome.tabs.executeScript(null,{code:"$('.layout').show();"});
	$.getJSON('http://127.0.0.1:5000/tokenize',{
			   		url:tab.url
		  			}, function(response) {
							//chrome.tabs.executeScript(null,{code:"$('#url_send').val('Pawar');"});
							alert(response.final_results[0].keyword);
							//chrome.tabs.executeScript(null,{code:"$('#url_send').val('"+response.final_results[0].keyword+"');"});				     		
			      		}
			  	);	
    chrome.tabs.executeScript(null, {code:"alert('tab url:');"});
  });
</script>
</head>
</html>
