<!-- 1)change path from tokenize to getkeyword 2)show loading image till XHR request does not complete
	3)get result containg all keyword and result of first 4 keyword
	4)need to change tab_id to be global
	5)add condition before sending tokenize request..because many time extension is not displayed when click 1 time..add condn which will check whether for particular page response has came or not
-->>
<html>
<head>
<script type="text/javascript" src="jquery-1.4.2.js"></script>

<script>
		//since following variable will be changed in callback function..so here declaration is sufficient..
		//...it is working for different tab without reloading extension
		//global variable declared
		//var count=-1,total_count=0,global_response,flag=0;
		var tab_id;
		
	  	// Called when the user clicks on the browser action.
	  	chrome.browserAction.onClicked.addListener(function(tab) {
	  		//alert(tab.id);
			chrome.tabs.sendRequest(tab.id, {"method":"isloaded"}, function(response) {
    				//alert("resonse from contentScript"+response.farewell);
    				chrome.tabs.executeScript(tab.id,{code:"$('.layout').show();"});
    				if(response.farewell=="goodbye"){}
    				else
    				{
    					//alert("calling tokenize method");
    					chrome.tabs.executeScript(tab.id,{code:"$('.layout').slideDown();"});   //T
    					$.getJSON('http://127.0.0.1:5000/tokenize',{
					   		url:tab.url,tab_id:tab.id
				  			}, function(response) {
				  				tab_id=response.final_results[4].tab_id;
				  				//alert("sending resonse to contentScript from tokenize");
				  				chrome.tabs.executeScript(tab_id,{code:"$('.ball1').fadeOut();$('.mextension').show();"});  //T
				  				chrome.tabs.sendRequest(tab_id, {"tab_id":tab_id,"method":"tokenize","response": response}, function(response) {
    										//alert("resonse from contentScript in tokenize"+response.farewell);
    										get_remaining_keyword_result();      										
    										//console.log(response.farewell);
    							});				
						});	
    				}
			});
		});
		
															//test
		function get_remaining_keyword_result()
		{
			
				//alert("runnign get json for remaining keyword");
				$.getJSON('http://127.0.0.1:5000/get_remaining', function(response) {
							chrome.tabs.sendRequest(tab_id, {"method":"get_remaining","response": response}, function(response) {
											alert("got remaining result in get remaining keyword function");
    										
    							});
										
				});
			
		}	
	 	function show_tweets(request)
		{
			var shtml = '';	
			var kwd=request.keyword;
			$.getJSON("http://search.twitter.com/search.json?&q=%23'"+kwd+"'&lang=en&rpp=2",function(jsonData)
			{
				var results = jsonData.results;
				//alert(jsonData.query);
				if(results)  // if there are results (it should be an array), loop through it with a jQuery function
				{				
		 			$.each(results, function(index,value)
					{
			 			shtml += "<p><span>"+value.from_user+"</span> :"+value.text+"<span>"+value.created_at+"</span></p>";
			 			//shtml += "<p>From User :"+value.from_user+"<br>Tweet: "+value.text+"<br>Created at :"+value.created_at+"</p>";
	 			   });

				}			
				chrome.tabs.executeScript(null,{code:"$('div.popup_keyword5').append('"+shtml+"');"});
			});
		}
		//chrome.extension.onRequest.addListener(display_next_keyword);
		chrome.extension.onRequest.addListener(show_tweets);
</script>
</head>
</html>
