	.layout{
		position: fixed;
		bottom: 2%;
		width: 99%;
		background: gainsboro;
		height: 80px;
		border-top: 1px solid gray;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
		border-left: 1px solid gray; 
		border-radius:10px 40px;
	}
	.close-image{
    display: block;
    float:right;
    position:relative;
    height: 20px;
}​
	.mextension {
		position: relative;
		right: 10px;
		left: 10px;
		background-color: yellow;
		width: 1300px;
		height: 70px;
	}
	.keyword1{
		position: absolute;
		left: 12px;
		top: 5px;
		width: 250px;
		background: lightSteelBlue;
		height: 60px;
		border-top-left-radius:10px 10px;
		border-bottom-left-radius:10px 10px;
		border-top: 3px solid gray;
		border-right: 3px solid gray;
		border-bottom: 3px solid gray;
		border-left: 3px solid gray; 
		text-align:center;
		text-decoration:underline;
		font-style:normal;
                font-size: 30px;
                font-variant: small-caps;
                font-stretch: expanded;
                font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif
		border-radius: 10px;
	}
	.keyword1:hover{
         background: gainsboro;
 }
	p#keyword1{
		cursor:pointer;
		color:black;
        }
	.keyword2{
		position: absolute;
		left: 250px;
		top: 5px;
		background: lightSteelBlue;
		width: 250px;
		height: 60px;
		border-radius:2px 2px;
		border-top: 3px solid gray;
		border-right: 3px solid gray;
		border-bottom: 3px solid gray;
		border-left: 3px solid gray;
		text-align:center;
		text-decoration:underline; 
		text-underline-color:blue;
		font-style:normal;
		font-size: 30px;
		font-variant: small-caps;
		font-stretch: expanded;
		font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
	}
         .keyword2:hover{
         background-color:gainsboro;
 }
	p#keyword2{
		cursor:pointer;
		color:black;
        }
	.keyword3{
		position: absolute;
		left: 500px;
		top: 5px;
		background: lightSteelBlue;
		width: 250px;
		height: 60px;
		border-radius:5px 5px;
		border-top: 3px solid gray;
		border-right: 3px solid gray;
		border-bottom: 3px solid gray;
		border-left: 3px solid gray; 
		text-align:center;
		text-decoration:underline;
		font-style:normal;
		font-size: 30px;
		font-variant: small-caps;
		font-stretch: expanded;
		font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;

	}	
	.keyword3:hover{
     		background:gainsboro;
 }
	p#keyword3{
		cursor:pointer;
		color:Black;
        }
	.keyword4{
		position: absolute;
		left: 750px;
		top: 5px;
		background: lightSteelBlue;
		width: 250px;
		height: 60px;
		border-radius:5px 5px;
		border-top: 3px solid gray;
		border-right: 3px solid gray;
		border-bottom: 3px solid gray;
		border-left: 3px solid gray; 
		text-align:center;
		text-decoration:underline;
		font-style: normal;
		font-size: 30px;
		font-variant: small-caps;
		font-stretch: expanded;
		font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
		
	}
	.keyword4:hover{
        background:gainsboro;
 }
p#keyword4{
		cursor:pointer;
		color:black;
        }
	.keyword5{
		position: absolute;
		left: 1000px;
		top: 5px;
		background-color: dodgerBlue;
		width: 250px;
		height: 60px;
		border-top-right-radius:10px 10px;
		border-bottom-right-radius:10px 10px;
		border-top: 3px solid gray;
		border-right: 3px solid gray;
		border-radius:5px solid gray;
		border-bottom: 3px solid gray;
		border-left: 3px solid gray; 
		text-align:center;
		text-decoration:underline;

		font-style: normal;
		font-size: 30px;
		font-variant: small-caps;
		font-stretch: expanded;
		font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
	}
	.keyword5:hover{
        background: lightSkyBlue;
 }
	p#keyword5{
		cursor:pointer;
		color:white;
        }


	.popup_keyword1 {
		background: whitesmoke;
		width: 250px;
		height: 200px;
		left: 12px;
		bottom: 90px;
		position:absolute;
		text-align:left;
		border-radius:10px 10px;		
		border-top: 2px solid gray;
		border-right: 2px solid gray;
		border-bottom: 2px solid gray;
		border-left: 2px solid gray;
		
		overflow:scroll;		 
		
	}
	
	.popup_keyword2 {
		background:whitesmoke;
		width: 250px;
		height: 200px;
		left: 250px;
		bottom: 90px;
		position:absolute;
		text-align:left;
		border-radius:10px 10px;
		border-width: .2em; 
		border-top: 3px solid gray;
		border-right: 3px solid gray;
		border-bottom: 3px solid gray;
		border-left: 3px solid gray;

		overflow:scroll;  
	}
	.popup_keyword3 {
		background: whitesmoke;
		width: 250px;
		height: 200px;
		left: 500px;
		bottom: 90px;
		position: absolute;
		border-radius:10px 10px;
		text-align:left	;	
		border-width: .2em; 
		border-top: 3px solid gray;
		border-right: 3px solid gray;
		border-bottom: 3px solid gray;
		border-left: 3px solid gray; 
		
		overflow:scroll;
	}
	.popup_keyword4 {
		background: whitesmoke;
		width: 250px;
		height: 200px;
		left: 750px;
		bottom: 90px;
		position:absolute;
		border-radius:10px 10px;
		text-align:left	;			
		border-width: .2em; 
		border-top: 3px solid gray;
		border-right: 3px solid gray;
		border-bottom: 3px solid gray;
		border-left: 3px solid gray; 
		background-repeat:repeat-x;
		overflow:scroll;
	}
	.popup_keyword5 {
		background: lightSkyBlue;
		width: 250px;
		height: 200px;
		left: 1000px;
		bottom: 90px;
		position:absolute;
		border-radius:10px 10px;
		text-align:left	;			
		border-width: .2em; 
		border-top: 3px solid gray;
		border-right: 3px solid gray;
		border-bottom: 3px solid gray;
		border-left: 3px solid gray; 
		
		overflow:scroll;
	}




	.titlerow{
	    color : cyan;
	    }
	table.linkrow{
	    color: blue;
	    }
ul li
{
 border-bottom:1px solid #CCC;
 display:block;
 position:relative;
 float:top;
 height:10px;
 width:400px;
 padding:1em;
 margin: 0 0 .2em 0;
}
div ul li:hover
{
background-color:lightskyblue;
color:#FFF;
}

#prevkeyword{
position: absolute;
left: 1270px;
right: 61px;
top: 47px;
}

#nextkeyword{
position: absolute;

right: -6px;
top: 47px;
left:1300px
}

#keyword5 .tweet{
position:absolute;
top:20px;
left:1300px;
}
