<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
<script type=text/javascript>
  window.addEventListener("load", windowLoaded, false);
  function windowLoaded() {
  chrome.tabs.getSelected(null, function(tab) {
  $('#url').val(tab.url);
  });
  }
</script>
<script type=text/javascript>
  $(function() {
  $('a#keywords').bind('click', function() {
  $.getJSON('http://127.0.0.1:5000/tokenize', {
  url: $('input[name="url"]').val()
   }, function(data) {
    $.each(data.result,function(i,val){
  $("#keyword_id").append(i+"=>"+val+"<br/>");
  });//each
  });//getjson
  return false;
  });//click 


  $('a#search_results').bind('click', function() {
  $.getJSON('http://127.0.0.1:5000/search_results', {
  url: $('#url').val()
  },function(data) {
  $.each(data.keywords,function(i,val){
  $("#search_result_id").append(i+"=>"+val+"<br/>");
  });

  //$("#search_result_id").append(data.results[0][0].Url+"<br/>");
  $("#search_result_id").append(data.keywords.length)
  $.each(data.results,function(i,val){
  $.each(val,function(j,val1){
  $("#search_result_id").append(j+"=>"+val1.Url+"<br/>");
  });
  });

  });
  return false;
  });

  });
</script>
<h1>jQuery Example</h1>

<p>
  <input type=text size=5 name=url> 
  <p><a href=# id=keywords>Get Keywords</a>
    <div id="keyword_id"></div>
  <p><a href=# id=search_results>Get Search Result</a>
    <div id="search_result_id"></div>
  <span id=result>?</span>


